<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button>Add</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="User Name">  </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="button-center">
      <button ion-button (click)="showAlert()">Log In</button>
  </div>
</ion-content>
